html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.btnBar {
    width: 480px;
}

.storeTable {
    padding: 10px;
}
.storeTable>.el-input{
    margin:5px ;
}
.cell>img{
width:30px;height:30px;
}
.searchBtn{
width:200px;
    text-align: left;
}
.goodsAssert{
    height:100%;
}
.goodsTitle{
    height:52px;
}
.formBasic{
    margin:30px 10px 0;
}
.formSKU{
    margin:30px 10px 0 50px;
}
.SKUData{
    margin:30px 0 0 0;
}
.goodsTitle{
    margin-left:20px;
}
.goodsTitle li{
    cursor: pointer;
    font-weight: 800;
    float:left;
    width:150px;
    height:50px;
    line-height: 50px;
    border:1px solid #ccc;
    border-radius: 100px ;
    margin-right:10px;
    text-align: right;
    padding-right:30px;
    padding-left:10px;
    box-sizing: border-box;
    background-color: #fff;
}
.goodsTitle a{
    color:#000;
    margin-top:4px;
    display: inline-block;
    width:42px;
    height:42px;
    line-height: 42px;
    float:left;
    text-align: center;
    border-radius: 50%;
    background-color:rgba(244,244,244,1);
}
.activeClick{
    border:1px solid rgba(219,80,80,1)!important;
    background-color:rgba(219,80,80,1) !important;
    color:#fff!important;
}
.activeClick>a{
    background-color: #fff ;
    color:rgba(219,80,80,1);
}


.basicAdd,.basicDel{
    width:100px;
    height:30px;
    border-radius: 52px;
    outline-style: none;
    cursor:pointer;
}
.basicAdd{
    border:1px solid #ccc;
    background:rgba(255,255,255,1);
}
.basicDel{
    color:#fff;
    border:1px solid rgba(219,80,80,1);
    background:rgba(219,80,80,1);
    float:right;
}
.floatRight{
    float:right;
    width: 100px;
    height: 35px;
    margin:0 20px 30px 0;
}
.SKUData a{
    color:#000;
}
.demoList{
    background-color:#ccc!important;
    border:1px solid #ccc;
}
.smallAddForm{
    margin-left:145px;
}
.demoProp{
    margin-bottom:10px;
}
.el-checkbox-group{
    display: inline-block;
}
.basicInfo{
    width:320px;
    left:50%;
    margin:40px 0 0 160px;
}
.basicName{
    width:100px;
    display: inline-block;
    text-align: right;
}
.basicInput{
    margin-bottom: 10px;
}
.SKUConfig{
    width:90px;
}
.SKUConfig input,.barCode input{
    text-align: center;
}
.barCode input{
   width:140px;
}
.skuDel{
    color: #409EFF;
    font-size: 14px;
    cursor:pointer;
}
.SKUData .el-input {
    width: 140px;
}
.SKUBtn{
    margin-top:40px;
    height:50px;
    position: absolute;
    width: 310px;
    left: 50%;
    margin-left: -155px;
}
.goodsForm{
    position: relative;
    margin-bottom: 140px;
}
.showTime label{
    margin-bottom:20px;
    display:inline-block;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.avatar {
    width: 88px;
    height: 88px;
    display: block;
}
.radioClass{
    padding-top:13px;
}
.goodsPic{
    float:left;
    margin-right:10px;
}
.iconDelete{
    cursor: pointer;
}
.iconTaste{
    margin-right:10px;
}
