@charset "utf-8";
body,div,h1,h2,h3,h4,h5,h6,table,p,a,img,span,ul,li,ol,td,input,select,label,em{padding: 0;margin: 0;font-family: "微软雅黑";}
body{font-size: 14px;color: #333333;background: #F4F4F4;}
h1,h2,h3,h4,h5{font-weight: normal;}
ul ,ol ,li{list-style: none;}
input{outline: none;border: none;background: none;}
a{text-decoration: none;}
img{border: none;}
em{font-style:normal;font-weight:normal;}
.pr{position: relative;}
.pa{position: absolute;}
.fl{float: left;}
.fr{float: right;}
[v-clock]{
	display:none;
}
/*清除浮动*/
.clear:after { display: block; content: ' '; font-size: 0; height: 0; clear: both;width: 0;}
.clear { *zoom:1; }
.wp{width: 100%;min-width: 1000px;margin: 0px auto;}

/*分页*/
.el-pagination{
	text-align: center;
}
/*搜索区域*/
.searchPart{
	background: #fff;
	padding:20px 0;
	width: 97.5%;
	margin: 20px auto;
	position: relative;
}
.searchItem{
	margin:0 20px 20px 20px;
	display: inline-block;
}

/*小的select框*/
.smSelect{
	width:100px;
}
.smSelect .el-input{
	width: 100%;
}
/*input*/
.el-input{
	width:200px;
}
/*筛选区域按钮*/
.btnPart{
	text-align: center;
}
.el-button{
	width:120px;
}
.el-button:hover{
	background: #fff;
	color: #333;
	border-color: #dcdfe6;
}
.el-button--search{
	background: #DB5050;
	color: #fff;
}
.el-button--search:hover{
	color: #fff;
	background: #C54646;
}
.el-button--search:focus{
	background: #DB5050;
	color: #fff;
}
/*table*/
.el-table thead,.el-table__empty-text{
	color: #333;
}
.el-table tr:nth-child(2n-1){
	background: #F7F9FC;
}
.el-table__body tr.hover-row>td {
    /*background-color: #E9EBED;*/
  background-color:#F0F3F7
}
.el-table .el-button{
	width: 60px;
}
/*开启关闭按钮*/
.changeId{
	width: 60px;
	background: #4F4D4D;
	height:20px;
	line-height: 20px;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	border-radius: 15px;
	text-align: center;
	text-indent: 15px;
	cursor: pointer;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1) 
}
.changeId em{
	display: block;
	width:25px;
	height: 25px;
	left: -2px;
	top: -2px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1) 
}
.changeId.checked{
	background: #DB5050;
	text-indent: 10px;
	text-align: left;
}
.checked em{
	left: 40px;
}
/*错误弹窗*/
#integral_fixed{
	position: fixed;
	min-height: 50px;
	max-height:100px;
	width: 300px;
	background: none;
	color: #fff;	
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -150px;
	text-align: center;
	z-index: 100000000;
	display: none;
	box-sizing: border-box;
}
#integral_fixed p{
	line-height: 25px;
	padding: 10px 20px;
	display: inline;
	border-radius: 10px;
}
#fixedBg{/*display: none;*/position: fixed;_position:absolute;top:0;left:0;bottom:0;right:0;background:#000;opacity: 0.5;z-index: 999;filter: alpha(opacity=50); -moz-opacity: 0.5;}
.popup_public{
	/*display: none;*/
	position: fixed;
	_position:absolute;
	width: 674px;
	height: 490px;
	background: #fff;
	z-index: 1000;
	top: 50%;
	left: 50%;
	margin-top: -245px;
	margin-left: -337px;
	border-radius: 25px;
	overflow: hidden;
}
.popup_public h2{line-height: 55px;height: 55px;text-align: center;color: #333;font-size: 22px;background: #fff;border-bottom: solid 1px #D4D4D4;}
.erp_close{position: absolute;width: 40px;height: 40px;right: 10px;top: 7px;cursor: pointer;font-size: 35px;}
.erp_close:hover{color: #DB5050;}
.edit_area{padding-left: 20px;overflow: auto;width: 630px;margin-top: 10px;}
.edit_area2{height: 400px;margin-top: 10px;}
.edit_area p{height:40px;line-height: 39px;margin-bottom: 5px;font-size: 14px;}
.edit_area2 p{height:30px;line-height: 29px;}
.edit_area p label{display: block;width: 150px;text-align: right;color: #646464;float: left;}
.edit_area p label em{color: #ff2929;font-size: 18px;}


/*btnBar 外面的div   addForm白色框  query红色框 smallAddForm  mini框 如：<button class="query" round type="button">取消</button>*/
.btnBar{
	width:320px;
	margin:24px auto;
}
.addForm,.query{
	width:150px;
	height:50px;
	border-radius: 52px ;
	outline-style: none;
	cursor: pointer;
}
.addForm{
	background:rgba(255,255,255,1);
	color:#000;
	border:1px solid #979797;
}
i{ font-style:normal}
.query{
	color:#fff;
	border:1px solid rgba(219,80,80,1);
	margin-right:10px;
	float:left;
	background:rgba(219,80,80,1);
}
.smallAddForm{
	width:100px;
	height:40px;
	border-radius: 30px ;
	outline-style: none;
	cursor: pointer;
	color:#fff;
	border:1px solid rgba(219,80,80,1);
	background:rgba(219,80,80,1);
}
/*列表页面  开启 停用 修改 按钮*/
.isOn,.isOff{
	outline-style: none;
	border:1px solid #fff;
	border-radius: 10px;
	color:#fff;
	cursor:pointer;
}
.isOn{
	background-color: #13ce66;
}
.isOff{
	background-color: #ff4949;
}
.modifyBtn{
	font: 400 13.3333px Arial;
	background-color: #fff;
	outline-style: none;
	border:1px solid #ccc;
	border-radius: 10px;
	cursor:pointer;
}
.edit_area p em{margin-left: 10px;font-size: 12px;color: #000;}
.edit_area p strong{font-weight: normal;color: #333;display: inline-block;}
/*.edit_area p input{}*/
.edit_area p input{
	width: 200px;
	display: block;
	/*float: left;*/
	-webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.edit_area p .smSelect{
	float: left;
	margin-right: 10px;
}
.edit_area p .smSelect input{width:100px;}
.edit_area p select {width: 157px;}
.edit_area p.updataBtn span{display: block;color: #fff;}
.edit_area p.updataBtn,.edit_area .imgBox{margin-left: 20px;}
.edit_area .imgBox,.edit_area .imgBox img{height: 110px;width: 128px;}
.edit_area p.updataBtn span:hover{color: #78a5b5;}
.edit_area .imgBox p span{display: block;float: none;color: #333;}
.edit_sure_box{margin-top: 10px;text-align: center;}
.edit_sure_box input{background: #4369a9;margin-right: 20px;height: 35px;line-height: 35px;width: 100px;}
.edit_sure_box input:hover{background: #517fcd;}
.edit_sure_box input.cancel_sure{background: #fff;color: #646464;border: solid 1px #646464;}
.edit_sure_box input.cancel_sure:hover{border-color: #517fcd;color: #517fcd;}
.edit_sure_box input.edit_sure_gary{background: #ccc;cursor: default;}

.emClear{display: inline-block;width: 10px;height: 10px;top: 26px;left: 415px;font-size: 20px;}
/*实时搜索弹窗*/
.edit_area p.canSearch{position: relative;}
.edit_area p.canSearch span.nameSearch{background-color:#fff;text-indent:0px;position: absolute;top: 32px;left: 140px;width: 230px;max-height: 160px;overflow:auto;display: none;border: solid 1px #a2a2a2;border-radius: 3px;}
.edit_area p.canSearch span.nameSearch em{color:#666;display: block;cursor: pointer;margin-left: 0;padding:0px 5px;line-height: 25px;margin-bottom: 5px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.edit_area p.canSearch span.nameSearch em:last-child{border-bottom: none;}
.edit_area p.canSearch span.nameSearch em:hover{color: #408ed6;}

.searchDiv{width:300px;height:230px;top:70px;left:220px;border:1px solid #dcdfe6;z-index:999;border-radius:5px;background:#fff;}
.searchDiv h3{height:31px;border-bottom:1px solid #dcdfe6;padding:7px 0;}
.searchDiv h3 input[type="button"]{float:right;width:92px;height:30px;background:#408ed6;color:#fff;margin-right:5px;border-radius: 2px;}
.searchDiv h3 input[type="text"]{text-indent:10px;width:200px;line-height:30px;font-size:16px;}
.searchDiv ul{height:180px;overflow: auto;}
.searchDiv ul li{line-height:30px;padding:0 5px;font-size:14px;cursor: pointer;}
.searchDiv ul li:hover{color:#408ed6;}

.AddDiv {
	height:200px;
	top: 130px;
	left: 280px;
}
.AddDiv ul{
	height: 150px;
}
/*loading*/
#loading_p{position:fixed;top: 0;left: 0;bottom: 0;right: 0;background: none;margin: 0;height: 100%;}
#loading_p img{display: block;margin: 0px auto;position: absolute;top: 50%;left: 50%;margin-left: -25px;margin-top: -27px;}

/*活动管理*/
.activeList .el-row{
	background: #fff;
	padding:17px 0;
	margin: 0 auto; 
	width: 97.5%;
	border-bottom: solid 1px #D8D8D8;
}
.activeList img{
	width: 80px;
	height: 80px;
}
.activeList img,.activeList div.one{
	display:block;
	float: left;
	margin-left: 20px;
}
.activeList div.one h2{
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
.activeList div.one a{
	margin-left: 20px;
	color: #333;
	border-radius: 5px;
	border: solid 1px #D4D4D4;
	padding: 3px 5px;
	font-size: 12px;
}
.activeList div.one p{
	line-height: 25px;
}
.activeList .pt55{
	padding-top: 55px;
	line-height: 25px;
}
.activeList .type span {
	display: block;
	width: 11px;
	height: 11px;
	background: #FF892F;
	border-radius: 100%;
	margin: 30px auto 10px;
}
.activeList .type span.underway{/*正在进行*/
	background: #31CC97;
}
.activeList .type span.end{/*已结束*/
	background: #333333;
}
.activeList .type span.toBeAudited{/*待审核*/
	background: #6CC1EF;
}
.activeList .type span.pause{/*暂停中*/
	background: #EABE17;
}
.activeList .type span.audit{/*审核中*/
	background: #5D945B;
}

.activeList .type,.funbtn{
	font-size: 12px;
	color: #979797;
	
}
.funbtn{
	flex: 1;
}
.funbtn i{
	margin-top: 25px;
	font-size: 24px;
	
	display: block;
	margin-bottom: 5px;
}
.activeList .el-button { 
	width: 60px;
	height: 33px;
	margin: 25px auto 0;
	padding: 0;
}
.activePopup .edit_area  p {
	margin-bottom: 10px;
}
.el-picker-panel .el-input{
	width: 100%;
}
.el-button.confirm{
	border-radius: 20px;
	padding: 9px 15px;
	background: #DB5050;
	border-color:#DB5050;
}
.el-button.confirm:hover{
	color: #fff;
}