@charset "utf-8";
body,div,h1,h2,h3,h4,h5,h6,table,p,a,img,span,ul,li,ol,td,input,select,label,em{padding: 0;margin: 0;font-family: "微软雅黑";}
body{font-size: 14px;color: #333333;background: #F4F4F4;}
h1,h2,h3,h4,h5{font-weight: normal;}
ul ,ol ,li{list-style: none;}
input{outline: none;border: none;background: none;}
a{text-decoration: none;}
img{border: none;}
em{font-style:normal;font-weight:normal;}
.pr{position: relative;}
.pa{position: absolute;}
.fl{float: left;}
.fr{float: right;}
[v-clock]{
	display:none;
}
/*清除浮动*/
.clear:after { display: block; content: ' '; font-size: 0; height: 0; clear: both;width: 0;}
.clear { *zoom:1; }
.wp{width: 100%;min-width: 960px;margin: 0px auto;}

/*分页*/
.el-pagination{
	text-align: center;
}
/*搜索区域*/
.searchPart{
	background: #fff;
	padding:20px 0;
	width: 97.5%;
	margin: 20px auto;
}
.searchItem{
	margin:0 20px 20px 20px;
	display: inline-block;
}
/*小的select框*/
.smSelect{
	width:100px;
}
.smSelect .el-input{
	width: 100%;
}
/*input*/
.el-input{
	width:200px;
}
/*筛选区域按钮*/
.btnPart{
	text-align: center;
}
.el-button{
	width:120px;
}
.el-button:hover{
	background: #fff;
	color: #333;
	border-color: #dcdfe6;
}
.el-button--search{
	background: #DB5050;
	color: #fff;
}
.el-button--search:hover{
	color: #fff;
	background: #C54646;
}
.el-button--search:focus{
	background: #DB5050;
	color: #fff;
}
/*table*/
.el-table thead,.el-table__empty-text{
	color: #333;
}
.el-table tr:nth-child(2n-1){
	background: #F7F9FC;
}
.el-table__body tr.hover-row>td {
    /*background-color: #E9EBED;*/
  background-color:#F0F3F7
}
.el-table .el-button{
	width: 60px;
}
/*错误弹窗*/
#integral_fixed{
	position: fixed;
	min-height: 50px;
	max-height:100px;
	width: 300px;
	background: #204071;
	color: #fff;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -150px;
	text-align: center;
	z-index: 100000000;
	display: none;
	box-sizing: border-box;
}
#integral_fixed p{
	line-height: 25px;
	margin: 13px 10px;
}
#fixedBg{/*display: none;*/position: fixed;_position:absolute;top:0;left:0;bottom:0;right:0;background:#000;opacity: 0.5;z-index: 9999;filter: alpha(opacity=50); -moz-opacity: 0.5;}
.popup_public{
	/*display: none;*/
	position: fixed;
	_position:absolute;
	width: 674px;
	height: 490px;
	background: #fff;
	z-index: 99999;
	top: 50%;
	left: 50%;
	margin-top: -245px;
	margin-left: -337px;
	border-radius: 25px;
	overflow: hidden;
}
.popup_public h2{line-height: 55px;height: 55px;text-align: center;color: #333;font-size: 22px;background: #fff;border-bottom: solid 1px #D4D4D4;}
.erp_close{position: absolute;width: 40px;height: 40px;right: 10px;top: 7px;cursor: pointer;font-size: 35px;}
.erp_close:hover{color: #DB5050;}
.edit_area{padding-left: 20px;height: 360px;overflow: auto;width: 630px;margin-top: 30px;}
.edit_area p{height:29px;line-height: 29px;margin-bottom: 15px;font-size: 14px;}
.edit_area p label{display: block;width: 150px;text-align: right;color: #646464;float: left;}
.edit_area p label em{color: #ff2929;font-size: 18px;}
.edit_area p span{margin-left: 10px;font-size: 12px;color: #ff2929;float: left;}
.edit_area p span.error_msg{display: block;}