<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8">
		<title>优惠券管理</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../css/public.css" />
	</head>

	<body>
		<div id="couponManage" class="erp_content wp" v-clock>
			<!--筛选头部-->
			<div class="searchPart">
				<div class="searchItem">
					<label>优惠券ID：</label>
					<el-input v-model="serachData.couponId"></el-input>
				</div>
				<div class="searchItem">
					<label>号码：</label>
					<el-input v-model="serachData.couponNum"></el-input>
				</div>
				<div class="searchItem">
					<label>会员名称：</label>
					<el-input v-model="serachData.userName"></el-input>
				</div>
				<div class="searchItem">
					<label>日期：</label>
					<el-date-picker v-model="serachData.dateTime" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
					</el-date-picker>
				</div>
				<div class="searchItem">
					<label>使用状态：</label>
					<el-select v-model="serachData.useStateData" class="smSelect">
						<el-option v-for="item in serachData.useState" :key="item.id" :label="item.val" :value="item.id">
						</el-option>
					</el-select>
				</div>
				<div class="searchItem">
					<label>有效状态：</label>
					<el-select v-model="serachData.statusValidData" class="smSelect">
						<el-option v-for="item in serachData.statusValid" :key="item.id" :label="item.val" :value="item.id">
						</el-option>
					</el-select>
				</div>
				<div class="searchItem">
					<label>优惠券指定类型：</label>
					<el-select v-model="serachData.useRangeData" class="smSelect">
						<el-option v-for="item in serachData.useRange" :key="item.id" :label="item.name" :value="item.id">
						</el-option>
					</el-select>
				</div>
				<div class="searchItem">
					<label>优惠券名称：</label>
					<el-input v-model="serachData.couponName"></el-input>
				</div>
				<div class="btnPart">
					<el-button type="search" round v-on:click="searchData()">查询</el-button>
					<el-button round>导出</el-button>
				</div>
			</div>

			<el-table :data="couponList" border style="margin: 20px auto; width: 97.5%;">
				<el-table-column align="center" prop="id" label="id" v-if=0>
				</el-table-column>
				<el-table-column align="center" prop="id" label="优惠券ID">
				</el-table-column>
				<el-table-column align="center" prop="couponCode" label="号码">
				</el-table-column>
				<el-table-column align="center" prop="tUserInfo.userId" label="会员标识">
				</el-table-column>
				<el-table-column align="center" prop="tUserInfo.realName" label="会员名称">
				</el-table-column>
				<el-table-column align="center" prop="nyCouponType.parValue" label="金额（元）">
				</el-table-column>
				<el-table-column align="center" prop="nyCouponSource.couponSourceName" label="优惠券来源">
				</el-table-column>
				<el-table-column align="center" prop="nyCouponType.couponAssignType" label="优惠券指定类型">
				</el-table-column>
				<el-table-column align="center" prop="nyCouponType.couponTypeName" label="优惠券名称">
				</el-table-column>
				<el-table-column align="center" prop="couponStatus" label="使用状态">
				</el-table-column>
				<el-table-column align="center" prop="isExpired" label="有效状态">
				</el-table-column>
				<el-table-column align="center" prop="beginTime" label="开始时间">
				</el-table-column>
				<el-table-column align="center" prop="endTime" label="结束时间">
				</el-table-column>
				<el-table-column align="center" fixed="right" label="操作" width="120">
					<template slot-scope="scope">
						<el-button round size="small" @click="showRow(scope.row)">查看</el-button>
					</template>
				</el-table-column>
			</el-table>
			<!--描述：分页-->
			<el-pagination style="margin-bottom: 20px;" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.pageNo" :page-sizes="pagination.pageSizes" :page-size="pagination.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pagination.count">
			</el-pagination>
			<!--<div id="kkpager"></div>-->
			<!--描述：弹窗-->
			<p class="loading_p" v-show="loadingShow"><img src="/Content/images/loading.gif" /></p>
			<div id="fixedBg" v-if="fBgIsShow"></div>
			<div id="view_popup" v-if="fBgIsShow" class="popup_public">
				<div class="erp_close" @click="closePopup"><i class="el-icon-close"></i></div>
				<h2>查看</h2>
				<div class="edit_area">
					<p>优惠券ID：{{showItem.id}}</p>
					<p>号码：{{showItem.couponCode}}</p>
					<p>会员标识：{{showItem.tUserInfo.userId}}</p>
					<p>会员名称：{{showItem.tUserInfo.realName}}</p>
					<p>金额（元）：{{showItem.nyCouponType.parValue}}</p>
					<p>优惠券来源：{{showItem.nyCouponSource.couponSourceName}}</p>
					<p>优惠券指定类型：{{showItem.nyCouponType.couponTypeName}}</p>
					<p>优惠券名称：{{showItem.nyCouponType.couponTypeName}}</p>
					<p>使用状态：{{showItem.couponStatus}}</p>
					<p>有效状态：{{showItem.isExpired}}</p>
					<p>优惠券开始时间：{{showItem.beginTime}}</p>
					<p>优惠券结束时间：{{showItem.endTime}}</p>
				</div>
			</div>

		</div>
		<!-- import Vue before Element -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>
		<script type="text/javascript" src="../js/public.js"></script>
		<script type="text/javascript" src="../js/couponManage.js"></script>
	</body>

</html>