<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8">
		<title>活动管理</title>
		<!--<link href="/Content/css/erp_public2.css?ver=201707201119" rel="stylesheet" />-->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../css/public.css" />		
		<style type="text/css">
			.activeList .el-row{
				background: #fff;
				padding:20px 0;
				margin: 0 auto; 
				width: 97.5%;
				border-bottom: solid 1px #D8D8D8;
			}
			.activeList img,.activeList div.one{
				display:block;
				float: left;
				margin-left: 20px;
			}
			.activeList div.one h2{
				font-size: 14px;
				color: #333;
				line-height: 30px;
			}
			.activeList div.one a{
				margin-left: 20px;
				color: #333;
				border-radius: 5px;
				border: solid 1px #D4D4D4;
				padding: 3px 5px;
				font-size: 12px;
			}
			.activeList div.one p{
				line-height: 25px;
			}
			.activeList .pt55{
				padding-top: 55px;
				line-height: 25px;
			}
			.activeList .type span {
				display: block;
				width: 11px;
				height: 11px;
				background: #FF892F;
				border-radius: 100%;
				margin: 30px auto 10px;
			}
			.activeList .type span.underway{/*正在进行*/
				background: #31CC97;
			}
			.activeList .type span.end{/*已结束*/
				background: #333333;
			}
			.activeList .type span.toBeAudited{/*待审核*/
				background: #6CC1EF;
			}
			.activeList .type span.pause{/*暂停中*/
				background: #EABE17;
			}
			.activeList .type span.audit{/*审核中*/
				background: #5D945B;
			}
			
			.activeList .type,.funbtn{
				font-size: 12px;
				color: #979797;
				
			}
			.funbtn{
				flex: 1;
			}
			.funbtn i{
				margin-top: 25px;
				font-size: 24px;
				
				display: block;
				margin-bottom: 5px;
			}
			.activeList .el-button { 
				width: 60px;
				height: 33px;
				margin: 25px auto 0;
				padding: 0;
			}
			.activePopup .edit_area  p {
				margin-bottom: 10px;
			}
			.el-picker-panel .el-input{
				width: 100%;
			}
			.el-button.confirm{
				border-radius: 20px;
				padding: 9px 15px;
				background: #DB5050;
				border-color:#DB5050;
			}
			.el-button.confirm:hover{
				color: #fff;
			}
		</style>
	</head>
	<body>
		<div id="activeList" class="erp_content wp" v-clock >
			<!--筛选头部-->
			<div class="searchPart">
				<div class="searchItem">
					<label>活动状态：</label>
					<el-select v-model="serachData.activeStateVal">
					    <el-option
					      v-for="item in serachData.activeState"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>	
				</div>
				<div class="searchItem">
					<label>活动表现形式：</label>
					<el-select v-model="serachData.activityFormVal">
					    <el-option
					      v-for="item in serachData.activityForm"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
				</div>
				<div class="searchItem">
					<label>活动类型：</label>
					<el-select v-model="serachData.activityTypeVal">
					    <el-option
					      v-for="item in serachData.activityType"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
				</div> 
				<div class="btnPart">
	                <el-button type="search" round @click="getData">查询</el-button>
	  				<el-button round v-on:click="pAdd.popupShow=true,pAdd.popupName='添加',fBgIsShow=true">添加</el-button>
	           	</div>
			</div>	
			
			<div class="activeList" style="">
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span></span>未开始</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn"><i class="el-icon-delete"></i>开启</p>
					  	<!--<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<el-button round size="small">审核</el-button>-->
				    </el-col>
				    <!--未开始、正在进行、已结束、待审核、审核中、审核失败、暂停中-->
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span class="underway"></span>正在进行</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn"><i class="el-icon-delete"></i>暂停</p>
					  	<!--<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<el-button round size="small">审核</el-button>-->
				    </el-col>
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span class="end"></span>已结束</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn" @click="delectFun()"><i class="el-icon-delete"></i>删除</p>
					  	<!--<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<el-button round size="small">审核</el-button>-->
				    </el-col>
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span class="toBeAudited"></span>待审核</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<!--<p class="funbtn"><i class="el-icon-delete"></i>删除</p>
					  	<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>-->
					  	<el-button round size="small" @click="updataFun()">提交审核</el-button>
				    </el-col>
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span class="audit"></span>审核中</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<!--<p class="funbtn"><i class="el-icon-delete"></i>删除</p>
					  	<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>-->
					  	<!--<el-button round size="small" @click="audit()">审核</el-button>-->
				    </el-col>
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span></span>审核失败</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn"><i class="el-icon-delete"></i>删除</p>
					  	<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<!--<el-button round size="small">审核</el-button>-->
				    </el-col>
				</el-row>
				<el-row>
				  	<el-col :span="10">
					  	<img src="../images/im.png"/>
					  	<div class="one">
					  		<h2>优惠券活动<a href="#">查看详情</a></h2>
					  		<p>全场</p>
					  		<p><i class="el-icon-time"></i>2018.01.12 09:12 至 2018.02.12 12:12</p>
				  		</div>				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：200</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：800</div></el-col>
					<el-col :span="3"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
				  		<div class="type"><span class="pause"></span>暂停中</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn" @click="changeFun()"><i class="el-icon-delete"></i>开启</p>
					  	<!--<p class="funbtn"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<el-button round size="small">审核</el-button>-->
				    </el-col>
				</el-row>
			</div>
			<el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.pageNo"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.count" style="margin: 20px;">
            </el-pagination>
			<!--描述：弹窗-->
			<div id="fixedBg" v-show="fBgIsShow"></div>
			<div class="popup_public activePopup" v-show="addPopupShow" >
				<h2>添加新活动</h2>
				<div class="edit_area pr">
					<p class="required">
						<label><em>*</em>活动表现形式：</label>
						<el-select v-model="pAdd.couponType">
						    <el-option
						      v-for="item in pAdd.activityForm"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
					</p>					
					<p class="required"><label><em>*</em>活动类型：</label>
						<el-select v-model="pAdd.couponType">
						    <el-option
						      v-for="item in pAdd.activityType"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
					</p>
					<p class="required canSearch">
						<label><em>*</em>活动名称：</label>
						<input type="text" :value="pAdd.activeName" />
						<span v-show="pAdd.goodsNameShow">请输入活动名称</span>
					</p>
					<p class="required">
						<label><em>*</em>开始时间：</label>
						<el-date-picker
					      v-model="pAdd.startTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<!--<span v-show="pAdd.parValueShow">请输入正整数</span>-->
					</p>
					<p class="required">
						<label><em>*</em>结束时间：</label>
						<el-date-picker
					      v-model="pAdd.endTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<!--<span v-show="pAdd.parValueShow">请输入正整数</span>-->
					</p>
					<p class="required">
						<label><em>*</em>展示时间：</label>
						<el-date-picker
					      v-model="pAdd.showTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<!--<span v-show="pAdd.parValueShow">请输入正整数</span>-->
					</p>
					<p class="required">
						<label><em>*</em>失效时间：</label>
						<el-date-picker
					      v-model="pAdd.failureTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<!--<span v-show="pAdd.parValueShow">请输入正整数</span>-->
					</p>
				</div>
				<p class="edit_sure_box">
					<el-button round @click="PopupConcel">取消</el-button>
	  				<el-button round type="search" v-on:click="AddCouponType()">确定</el-button>
				</p>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>		
		<script type="text/javascript" src="../js/public.js"></script>
		<script type="text/javascript" src="../js/activeList.js"></script>
	</body>

</html>