<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8">
		<title>活动管理</title>
		<!--<link href="/Content/css/erp_public2.css?ver=201707201119" rel="stylesheet" />-->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../css/public.css" />		
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div id="activeList" class="erp_content wp" v-clock >
			<!--筛选头部-->
			<div class="searchPart">
				<div class="searchItem">
					<label>活动状态：</label>
					<el-select clearable v-model="serachData.activeStateVal">
					    <el-option
					      v-for="item in serachData.activeState"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>	
				</div>
				<div class="searchItem">
					<label>活动表现形式：</label>
					<el-select clearable v-model="serachData.activityFormVal">
					    <el-option
					      v-for="item in serachData.activityForm"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
				</div>
				<div class="searchItem">
					<label>活动类型：</label>
					<el-select clearable v-model="serachData.activityTypeVal">
					    <el-option
					      v-for="item in serachData.activityType"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
				</div> 
				<div class="btnPart">
	                <el-button type="search" round @click="getData">查询</el-button>
	  				<el-button round @click="addPopupShow=true,fBgIsShow=true">添加</el-button>
	           	</div>
			</div>	
			
			<div class="activeList" style="">
				<el-row v-for="(item, index) in activeList">
				  	<el-col :span="12">
				  		<img :src="item.nyEventMan.eventManPic"/>
					  	<div class="one">
					  		<h2>{{item.eventName}}<a :href="'activeEdit.html?activeId='+ item.id">查看详情</a></h2>
					  		<p>{{item.eventTypeId}}</p>
					  		<p><i class="el-icon-time"></i>{{item.beginTime}} 至 {{item.endTime}}</p>
				  		</div>					  				  	
				  	</el-col>
					<el-col :span="3"><div class="pt55">剩余数量：{{item.nyEventPrizes != undefined ? item.nyEventPrizes.countLeft : ''}}</div></el-col>
					<el-col :span="3"><div class="pt55">中奖数量：{{item.nyEventPrizes != undefined ? item.nyEventPrizes.countWinning : ''}}</div></el-col>
					<el-col :span="1"><div class="pt55"></div></el-col>
					<el-col :span="2" style="text-align: center;">
						<div class="type" v-if="item.newEventStatus == 0"><span class="toBeAudited"></span>待审核</div>
						<div class="type" v-if="item.newEventStatus == 1"><span class="audit"></span>审核中</div>
				  		<div class="type" v-if="item.newEventStatus == 2">
				  			<span></span>{{item.auditComment}}
				  		</div>
				  		<div class="type" v-if="item.newEventStatus == 3"><span></span>未开始</div>
				  		<div class="type" v-if="item.newEventStatus == 4"><span class="underway"></span>正在进行</div>
				  		<div class="type" v-if="item.newEventStatus == 5"><span class="pause"></span>暂停中</div>
				  		<div class="type" v-if="item.newEventStatus == 6"><span class="end"></span>已结束</div>
				    </el-col>
				    <el-col :span="3" style="text-align: center;display: flex;">
					  	<p class="funbtn" v-if="item.newEventStatus == 5" @click="changeFun(index)"><i class="el-icon-delete"></i>开启</p>
					  	<p class="funbtn" v-if="item.newEventStatus == 4" @click="changeFun(index)"><i class="el-icon-delete"></i>暂停</p>
					  	<p class="funbtn" v-if="item.newEventStatus == 0 || item.newEventStatus == 2"><i class="el-icon-edit-outline"></i>编辑</p>
					  	<p class="funbtn" v-if="item.newEventStatus == 0 || item.newEventStatus == 6 || item.newEventStatus == 2" @click="delectFun(index)"><i class="el-icon-delete"></i>删除</p>
					  	<el-button round v-if="item.newEventStatus == 1" size="small">审核</el-button>
					  	<el-button round v-if="item.newEventStatus == 0" size="small" @click="updataFun()">提交审核</el-button>
				    </el-col>
				</el-row>				
			</div>
			<el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.pageNo"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.count" style="margin: 20px;">
            </el-pagination>
			<!--描述：弹窗-->
			<div id="fixedBg" v-show="fBgIsShow"></div>
			<div class="popup_public activePopup" v-show="addPopupShow" >
				<h2>添加新活动</h2>
				<!--<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				  <el-form-item label="活动名称" prop="name">
				    <el-input v-model="ruleForm.name"></el-input>
				  </el-form-item>
				  <el-form-item label="活动区域" prop="region">
				    <el-select v-model="ruleForm.region" placeholder="请选择活动区域">
				      <el-option label="区域一" value="shanghai"></el-option>
				      <el-option label="区域二" value="beijing"></el-option>
				    </el-select>
				  </el-form-item>
				  <el-form-item label="活动时间" required>
				    <el-col :span="11">
				      <el-form-item prop="date1">
				        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
				      </el-form-item>
				    </el-col>
				    <el-col class="line" :span="2">-</el-col>
				    <el-col :span="11">
				      <el-form-item prop="date2">
				        <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
				      </el-form-item>
				    </el-col>
				  </el-form-item>
				  <el-form-item label="即时配送" prop="delivery">
				    <el-switch v-model="ruleForm.delivery"></el-switch>
				  </el-form-item>
				  <el-form-item label="活动性质" prop="type">
				    <el-checkbox-group v-model="ruleForm.type">
				      <el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>
				      <el-checkbox label="地推活动" name="type"></el-checkbox>
				      <el-checkbox label="线下主题活动" name="type"></el-checkbox>
				      <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
				    </el-checkbox-group>
				  </el-form-item>
				  <el-form-item label="特殊资源" prop="resource">
				    <el-radio-group v-model="ruleForm.resource">
				      <el-radio label="线上品牌商赞助"></el-radio>
				      <el-radio label="线下场地免费"></el-radio>
				    </el-radio-group>
				  </el-form-item>
				  <el-form-item label="活动形式" prop="desc">
				    <el-input type="textarea" v-model="ruleForm.desc"></el-input>
				  </el-form-item>
				  <el-form-item>
				    <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
				    <el-button @click="resetForm('ruleForm')">重置</el-button>
				  </el-form-item>
				</el-form>-->
				<div class="edit_area pr">
					<p class="required">
						<label><em>*</em>活动表现形式：</label>
						<el-select v-model="pAdd.activityForm">
						    <el-option
						      v-for="item in serachData.activityForm"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
					</p>					
					<p class="required">
						<label><em>*</em>活动类型：</label>
						<el-select v-model="pAdd.activityType">
						    <el-option
						      v-for="item in serachData.activityType"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
					</p>
					<p class="required canSearch">
						<label><em>*</em>活动名称：</label>
						<input type="text" :value="pAdd.activeName" />
						<span v-show="pAdd.goodsNameShow">请输入活动名称</span>
					</p>
					<p class="required">
						<label><em>*</em>开始时间：</label>
						<el-date-picker
					      v-model="pAdd.startTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<span v-show="pAdd.parValueShow">请选择开始时间</span>
					</p>
					<p class="required">
						<label><em>*</em>结束时间：</label>
						<el-date-picker
					      v-model="pAdd.endTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<span v-show="pAdd.parValueShow">请选择结束时间</span>
					</p>
					<p class="required">
						<label><em>*</em>展示时间：</label>
						<el-date-picker
					      v-model="pAdd.showTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<span v-show="pAdd.parValueShow">请选择展示时间</span>
					</p>
					<p class="required">
						<label><em>*</em>失效时间：</label>
						<el-date-picker
					      v-model="pAdd.failureTime"
					      type="datetime"
					      placeholder="选择日期时间">
					    </el-date-picker>
						<span v-show="pAdd.parValueShow">请选择失效时间</span>
					</p>
				</div>
				<p class="edit_sure_box">
					<el-button round @click="PopupConcel">取消</el-button>
	  				<el-button round type="search" v-on:click="AddCouponType()">确定</el-button>
				</p>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>		
		<script type="text/javascript" src="../js/public.js"></script>
		<script type="text/javascript" src="../js/activeList.js"></script>
	</body>

</html>