<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8">
    <title>商户维护</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/quill.snow.css"/>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/goodsAssert.css"/>
    <!--富文本-->
    <!--<link rel="stylesheet" href="../js/editor/quill.core.css"/>-->
    <!--<link rel="stylesheet" href="../js/editor/quill.snow.css"/>-->
    <!--<link rel="stylesheet" href="../js/editor/quill.bubble.css"/>-->
    <!--<link href="http://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">-->
    <!--<link href="http://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">-->
    <!--<link href="http://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">-->
</head>
<!--<style id="antiClickjack">body{display:none !important;}</style>-->
<!--<script>-->
    <!--if (self === top) {-->
        <!--var antiClickjack = document.getElementById("antiClickjack");-->
        <!--antiClickjack.parentNode.removeChild(antiClickjack);-->
    <!--} else {-->
        <!--top.location = self.location;-->
    <!--}-->
<!--</script>-->
<body>
<div id="goodsAssert" v-clock>
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
        <el-tab-pane label="商品列表" name="first">
            <el-form ref="formInline" :model="formInline" class="storeTable">
                <label>名称：</label>
                <el-input v-model="formInline.goodsName"></el-input>
                <label>分类：</label>
                <el-button class="searchBtn" icon="el-icon-search" @click="searchMechanismCity">{{filterCity}}
                </el-button>
                <label>商品id：</label>
                <el-input v-model="formInline.id"></el-input>
                <label>条形码：</label>
                <el-input v-model="formInline.sn"></el-input>
                <label>状态：</label>
                <el-select v-model="formInline.openFlag" clearable placeholder="请选择">
                    <el-option
                            v-for="item in isOpen"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form>
            <div class="btnBar">
                <!--<button class="query" round @click="query" type="button">查询</button>-->
                <button class="query" round @click="query" type="button" v-if="hasPermission('goods/assert/query')">查询</button>
                <button class="addForm" round @click.stop="exportAll" type="button">导出</button>
                <button class='addForm' @click="addForm" round type="button">添加商品</button>
            </div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        align="center"
                        label="序号"
                        type="index"
                        width="60">
                </el-table-column>


                <el-table-column
                        align="center"
                        label="商品列表图">
                    <template slot-scope="scope">
                        <img :src="scope.row.thumbnail">
                    </template>
                </el-table-column>
                <el-table-column
                        show-overflow-tooltip="false"
                        align="center"
                        prop="id"
                        label="商品ID">
                </el-table-column>

                <el-table-column
                        show-overflow-tooltip="false"
                        align="center"
                        prop="salesVolume"
                        label="销量">
                </el-table-column>-->
                <el-table-column
                        align="center"
                        prop="stock"
                        label="库存">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsName"
                        label="名称">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsFrom"
                        label="商品来源">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsCatName"
                        label="分类">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsIndex"
                        label="排序">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="updateBy.name"
                        label="最后修改人">
                </el-table-column>
                <el-table-column
                        show-overflow-tooltip="false"
                        align="center"
                        prop="updateDate"
                        label="最后修改时间">
                </el-table-column>
                <el-table-column
                        align="center"
                        fixed="right"
                        label="操作"
                        width="180">
                    <template slot-scope="scope">
                        <!--<button @click="isChangeBest(scope.row)" class="modifyBtn">-->
                        <!--地图推荐-->
                        <!--</button>-->

                        <button @click="isChangeBest(scope.row)" v-if=(scope.row.recommendFlag)==='0'?true:false
                                class="isOff">
                            地图推荐
                        </button>
                        <button @click="isChangeBest(scope.row)" v-else class="isOn">取消推荐</button>

                        <button @click="isOnChange(scope.row)" v-if=(scope.row.openFlag)==='0'?true:false class="isOff">
                            启用
                        </button>
                        <button @click="isOnChange(scope.row)" v-else class="isOn">停用</button>
                        <button @click="modifyRow(scope.row)" class="modifyBtn">修改</button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.pageNo"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.count">
            </el-pagination>
            <!--模态框-->
            <el-dialog title="商品分类" size="tiny" :visible.sync="cityVisibleCity" center>
                <el-tree
                        ref="tree"
                        highlight-current
                        :data="secondSection"
                        class="searchTree"
                        accordion
                        :filter-node-method="filterNode"
                        @node-click="handleNodeCity"
                        :props="defaultProps">
                </el-tree>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="modifyCancelCity">取 消</el-button>
                    <el-button type="primary" @click="doModifyCity">确 定</el-button>
                </div>
            </el-dialog>
        </el-tab-pane>


        <el-tab-pane :label="title" name="second" class="goodsForm">
            <div class="goodsTitle">
                <ul>
                    <li href="#!" v-for='(val,idx) in goodsTitle' :class="{activeClick: activeClass == val}">
                        <a href="#!">{{idx+1}}</a>{{val}}
                    </li>
                    <!--<li href="#!" v-for='(val,idx) in goodsTitle' :class="{activeClick: activeClass == val}"-->
                    <!--@click="selected(val)">-->
                    <!--<a href="#!">{{idx+1}}</a>{{val}}-->
                    <!--</li>-->
                </ul>
            </div>
            <!--基本信息-->
            <div class="formBasic" v-if="activeClass =='基本信息'?true:false">
                <el-form :model="basicInfo" :rules="rules" ref="basicInfo" label-width="150px">

                    <input type="text" v-if="0" v-model="basicInfo.id">
                    <el-form-item label="商品分类选择：" prop="goodsCatId">
                        <input type="text" v-if="0" v-model="basicInfo.goodsCatId">
                        <el-button class="searchBtn" icon="el-icon-search" @click="searchMechanism">{{filterText}}
                        </el-button>
                    </el-form-item>

                    <el-form-item label="名称：" prop="goodsName">
                        <el-input v-model="basicInfo.goodsName" placeholder="最多输入30个字符" id="txtChinese"
                                  @blur.stop="getPinYi()"></el-input>
                    </el-form-item>
                    <el-form-item label="拼音助记词：">
                        <el-input v-model="pinyin" disabled></el-input>
                    </el-form-item>

                    <el-form-item label="排序">
                        <el-input type="age" v-model.number="basicInfo.goodsIndex" auto-complete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="标签：">
                        <el-input v-model="basicInfo.goodsTaste"></el-input>
                        <button class='basicAdd' round type="button" @click.stop="tasteAdd">添加</button>
                        <a v-for="val in goodsLableArr" :key="val" class="iconTaste">{{val}} <i
                                class="el-icon-circle-close-outline
 iconDelete" @click.stop="tasteDelete(val)"></i></a>
                    </el-form-item>

                    <el-form-item label="可预约天数">
                        <el-input type="age" v-model="basicInfo.appointmentDays" auto-complete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="可约最近时间：">
                        <el-radio-group v-model="basicInfo.lastAppointment" class="radioClass">
                            <el-radio v-for="item in laterTime" :label="item.value">{{item.label}}</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="时间间隔：">
                        <el-radio-group v-model="basicInfo.intervalTime" class="radioClass">
                            <el-radio v-for="(item,index) in gapTime" :label="item.value">{{item.label}}</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="商品列表图：" prop="thumbnail">
                        <el-upload
                                class="avatar-uploader"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="handleAvatarThumbnail"
                                :before-upload="beforeAvatarThumbnail">
                            <div v-if="thumbnail"><img :src="thumbnail" class="avatar">
                                <i class="el-icon-close " @click.stop="removeThumbnail"></i></div>
                            <i v-else class="el-icon-plus
                avatar-uploader-icon"></i>
                        </el-upload>
                        <i>（图片大小：150k內 长=1.65*宽 如：132*80 347*210）</i>
                    </el-form-item>
                    <el-form-item label="商品轮播图：" prop="goodsPic1">
                        <el-upload
                                class="avatar-uploader goodsPic"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess1"
                                :before-upload="beforeAvatarUpload1">
                            <div v-if="goodsPic1"><img :src="goodsPic1" class="avatar">
                                <i class="el-icon-close " @click.stop="removeAvatarSuccess1"></i></div>
                            <i v-else class="el-icon-plus
                avatar-uploader-icon"></i>
                        </el-upload>
                        <el-upload
                                class="avatar-uploader goodsPic"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess2"
                                :before-upload="beforeAvatarUpload2">
                            <div v-if="goodsPic2"><img :src="goodsPic2" class="avatar">
                                <i class="el-icon-close " @click.stop="removeAvatarSuccess2"></i></div>
                            <i v-else class="el-icon-plus
                avatar-uploader-icon"></i>
                        </el-upload>
                        <el-upload
                                class="avatar-uploader goodsPic"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess3"
                                :before-upload="beforeAvatarUpload3">
                            <div v-if="goodsPic3"><img :src="goodsPic3" class="avatar">
                                <i class="el-icon-close " @click.stop="removeAvatarSuccess3"></i></div>
                            <i v-else class="el-icon-plus
                avatar-uploader-icon"></i>
                        </el-upload>
                        <el-upload
                                class="avatar-uploader"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess4"
                                :before-upload="beforeAvatarUpload4">
                            <div v-if="goodsPic4"><img :src="goodsPic4" class="avatar">
                                <i class="el-icon-close " @click.stop="removeAvatarSuccess4"></i></div>
                            <i v-else class="el-icon-plus
                avatar-uploader-icon"></i>
                        </el-upload>
                        <p>（图片大小：150k內 长=宽 如：800*800）</p>
                    </el-form-item>
                    <el-form-item label="商品详情：" id="goodsDetails" prop="goodsDetails">
                        <i>（单张图片大小：200k内）</i>
                        <div class="activeTips clear">
                                <div id="editor">
                                </div>
                        </div>
                        <el-upload
                                class="avatar-uploader"
                                action='http://jjdcjavaweb.oss-cn-shanghai.aliyuncs.com'
                                :data="Token"
                                :show-file-list="false"
                                :on-success="descriptionSuccess"
                                :before-upload="descriptionUpload"
                                align="center"
                                accept="image/jpeg,image/gif,image/png">
                            <el-button round size="small" style="visibility: hidden;" type="search" id="upimg">上传图片
                            </el-button>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="上架时间：" class="showTime">
                        <el-radio-group v-model="timeSelect">
                            <el-radio :label="1">自定义上架时间</el-radio>
                            <el-date-picker
                                    @change="releaseTimeChange"
                                    v-model="basicInfo.releaseTime"
                                    type="datetime"
                                    placeholder="选择日期时间">
                            </el-date-picker>
                            <br>
                            <el-radio :label="2">暂不售卖，放入仓库</el-radio>
                            <br>
                        </el-radio-group>
                    </el-form-item>
                    <div class="SKUBtn">
                        <button class="query" round type="button" @click.stop="basicNext('basicInfo')">下一步</button>
                        <button class="addForm" round type="button">取消</button>
                    </div>
                </el-form>
                <!--模态框-->
                <el-dialog title="商品分类" size="tiny" :visible.sync="cityVisible" center>
                    <el-tree
                            ref="tree"
                            highlight-current
                            :data="secondSection"
                            class="searchTree"
                            accordion
                            :filter-node-method="filterNode"
                            @node-click="handleNode"
                            :props="defaultProps">
                    </el-tree>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="modifyCancel">取 消</el-button>
                        <el-button type="primary" @click="doModify">确 定</el-button>
                    </div>
                </el-dialog>
            </div>
            <!--属性-->
            <div class="formSKU" v-if="activeClass =='属性'?true:false">
                <el-form ref="formBasic" :model="formBasic" label-width="150px">
                    <div class="demoProp" v-if="fallList.length>0?false:true">
                        <i class="basicName">例 => 颜色：</i>
                        <el-input disabled></el-input>
                        <button class='basicAdd demoList' round type="button">添加</button>
                        <a>绿色<i class="el-icon-circle-close-outline"></i></a>
                        <a>黄色<i class="el-icon-circle-close-outline"></i></a>
                        <a>粉色<i class="el-icon-circle-close-outline"></i></a>
                        <button class='basicDel demoList' round type="button">删除
                        </button>
                    </div>
                    <div v-for="(item,index) in fallList" :key="index" class="basicInput">
                        <input type="text" v-model="item.id" v-if="0">
                        <input type="text" v-model="item.goodsId" v-if="0">
                        <i v-if="item.label" class="basicName">{{item.name}}：</i>
                        <el-input v-model="item.name" class="basicName" @blur="addList(item.name,index)"
                                  v-else></el-input>
                        <el-input v-model="item.propertyValue"></el-input>
                        <button class='basicAdd' round type="button"
                                @click.stop="propertyAdd(item.id,item.propertyValue,index)">添加
                        </button>

                        <a v-for="(val, key) in item.values" :key="val.propertyId" :label="val.propertyValue">
                            {{val.propertyValue}}<i class="el-icon-circle-close-outline iconDelete"
                                                    @click="propertyDelete(val.id)"></i></a>
                        <button class='basicDel' round type="button"
                                @click.stop="lineDelete(item.id)">删除
                        </button>
                    </div>

                    <button class='smallAddForm' round type="button" @click="addProperty">添加属性</button>
                    <br>
                    <div class="SKUBtn">
                        <!--<button class='addForm' round type="button" @click="PropertyCancel">取消</button>-->
                        <button class='query' round type="button" @click="PropertyNext">下一步</button>
                    </div>
                </el-form>

            </div>
            <!--SKU设置-->
            <div v-if="activeClass =='SKU设置'?true:false" class="SKUData">
                <button class="addForm floatRight" round type="button" @click.stop="allUpdate">批量修改</button>

                <el-table
                        :data="SKUData"
                        stripe
                        show-header
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="id"
                            v-if=0>
                    </el-table-column>
                    <el-table-column
                            prop="goodsId"
                            label="goodsId"
                            v-if=0>
                    </el-table-column>

                    <div v-for="(sku,index) in SKUData.propertyARR">
                        <el-table-column
                                header-align="center"
                                align="center"
                                :label="sku"
                                prop="price">
                            <template slot-scope="scope">
                                <a href="#!">{{scope.row.propertyString[sku]}}</a>
                            </template>
                        </el-table-column>
                    </div>


                    <el-table-column
                            fixed="right"
                            header-align="center"
                            align="center"
                            label="价格"
                            prop="price">
                        <template slot-scope="scope">
                            <el-input type='text' v-if='skuRight' v-model=scope.row.price class="SKUConfig"
                                      @keyup.native="priceChange(scope.row.price,scope.$index)"></el-input>
                            >
                            <a href="#!" v-else>{{scope.row.price}}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            header-align="center"
                            align="center"
                            label="条形码"
                            prop="sn">
                        <template slot-scope="scope">
                            <el-input v-if='skuRight' v-model=scope.row.sn class="barCode"></el-input>
                            <a href="#!" v-else>{{scope.row.sn}}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            header-align="center"
                            align="center"
                            label="库存"
                            prop="stock">
                        <template slot-scope="scope">
                            <el-input v-if='skuRight' v-model=scope.row.stock class="SKUConfig"></el-input>
                            <a href="#!" v-else>{{scope.row.stock}}</a>
                        </template>
                    </el-table-column>

                    <el-table-column
                            fixed="right"
                            header-align="center"
                            align="center"
                            label="操作">
                        <template slot-scope="scope">
                            <i class='skuDel' @click.stop="skuDelete(scope.row.id)">删除</i>
                        </template>
                    </el-table-column>

                </el-table>
                <el-pagination
                        @size-change="handleSize"
                        @current-change="handleCurrent"
                        :current-page="paginate.pageNo"
                        :page-sizes="paginate.pageSizes"
                        :page-size="paginate.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="paginate.count">
                </el-pagination>
                <div class="SKUBtn">
                    <button class="query" round type="button" @click.stop="skuSubmit">保存</button>
                    <button class="addForm" round type="button" @click.stop="skuCancel">取消</button>
                </div>

            </div>

        </el-tab-pane>
    </el-tabs>

</div>

<!-- 引入组件库 -->
<script type="text/javascript" src="../js/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/goodsAssert.js"></script>
<script type="text/javascript" src="../js/timeChange.js"></script>
<!--<script src="../js/editor/quill.js"></script>-->


</body>

</html>