<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8">
    <title>商户维护</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.2/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/goodsAssert.css"/>

</head>

<body>
<div id="goodsAssert" v-clock>
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
        <el-tab-pane label="商品列表" name="first">
            <el-form ref="formInline" :model="formInline" class="storeTable">
                <label>名称：</label>
                <el-input v-model="formInline.goodsName"></el-input>
                <label>分类：</label>
                <el-button class="searchBtn" icon="el-icon-search" @click="searchMechanism">{{filterText}}</el-button>
                <label>SKUID：</label>
                <el-input v-model="formInline.skuId"></el-input>
                <label>条形码：</label>
                <el-input v-model="formInline.sn"></el-input>
                <label>状态：</label>
                <el-select v-model="formInline.openFlag" placeholder="请选择">
                    <el-option
                            v-for="item in isOpen"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form>
            <form action="" v-if="0" ref="exportForm">
                <el-input v-model="exportForm.goodsName"></el-input>
                <el-input v-model="exportForm.goodsCatId"></el-input>
                <el-input v-model="exportForm.skuId"></el-input>
                <el-input v-model="exportForm.sn"></el-input>
                <el-input v-model="exportForm.openFlag"></el-input>
            </form>
            <div class="btnBar">
                <button class="query" round @click="query" type="button">查询</button>
                <button class="addForm" round  @click="exportForm" type="button">导出</button>
                <button class='addForm' @click="addForm" round type="button">添加商品</button>
            </div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        align="center"
                        label="序号"
                        type="index"
                        width="60">
                </el-table-column>

                <el-table-column
                        align="center"
                        label="商品列表图">
                    <template slot-scope="scope">
                        <img :src="scope.row.thumbnail">
                    </template>
                </el-table-column>

                <el-table-column
                        align="center"
                        prop="id"
                        label="商品ID">
                </el-table-column>
                <el-table-column
                        show-overflow-tooltip="false"
                        align="center"
                        prop="skuId"
                        label="SKUID">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="sn"
                        label="条形码">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsName"
                        label="名称">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsFrom"
                        label="商品来源">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsCatName"
                        label="分类">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="goodsIndex"
                        label="排序">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="updateBy.name"
                        label="最后修改人">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="updateDate"
                        label="最后修改时间">
                </el-table-column>
                <el-table-column
                        align="center"
                        fixed="right"
                        label="操作"
                        width="180">
                    <template slot-scope="scope">
                        <button @click="isChangeBest(scope.row)" class="modifyBtn">
                            地图推荐
                        </button>
                        <button @click="isOnChange(scope.row)" v-if=(scope.row.openFlag)==='1'?true:false class="isOn">
                            启用
                        </button>
                        <button @click="isOnChange(scope.row)" v-else class="isOff">停用</button>
                        <button @click="modifyRow(scope.row)" class="modifyBtn">修改</button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.pageNo"
                    :page-sizes="pagination.pageSizes"
                    :page-size="pagination.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.count">
            </el-pagination>
            <!--模态框-->
            <el-dialog :title="title" size="tiny" :visible.sync="cityVisible" center>
                <el-tree
                        ref="tree"
                        highlight-current
                        :data="secondSection"
                        class="searchTree"
                        accordion
                        :filter-node-method="filterNode"
                        @node-click="handleNode"
                        :props="defaultProps">
                </el-tree>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="modifyCancel">取 消</el-button>
                    <el-button type="primary" @click="doModify">确 定</el-button>
                </div>
            </el-dialog>
        </el-tab-pane>


        <el-tab-pane :label='title' name="second">
            <div><i>1</i>基本信息</div>
            <div><i>2</i>属性</div>
            <div><i>3</i>SKU设置</div>

        </el-tab-pane>
    </el-tabs>

</div>

<!-- 引入组件库 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.2.2/lib/index.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/goodsAssert.js"></script>


</body>

</html>